**/.ipynb_checkpoints
**/__pycache__
**/wandb/**
*.egg-info/
.DS_Store
.all_objects.cache
.idea
.pymon
.python-version
build/
dist/
examples/CIFAR
examples/MNIST
examples/data
examples/multipart_serialised.eqx
site/